*{
    padding: 0;
    margin: 0;
}
.contenedor-total{
    display: flex;
    flex-flow: column row;
}
.contenedor-pagina{
    background-color: rgb(252, 251, 210);
}
.main {
    display: flex;
    flex-flow: column wrap;
}
.contenedor-article{
    margin-top: 20px;
    text-align: center;
    height: 65vh;
    width:80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px;
   
    
}
.article-imagen {
    width: 200px;
    height: 200px;
    image-rendering: auto;
    border-radius: 100%;
    border: 5px dashed rgb(3, 3, 3);
    border-bottom: none;
    border-top: none;
}
.main-secundario{
    display: flex;
    flex-flow: column row;
}
article{
    margin-top: auto;
    
}
.aside {
    height: 75vh;
    width: 20%;
    text-align: center;
}
.article-aside{
    margin-top: auto;
    height: 34vh;
    width: 100%;
    background-color: grey;
}
.main-principal {
    background-color: rgb(239, 248, 185);
    animation-name: portafolio;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.principal-h2{
    text-shadow: 0px 1px 15px orange;
    padding-top: 15px;
    font-size: 50px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.principal-p{
    font-size: 25px;
    height: 100px;
    text-align: left;
    padding: 10px 70px 6px;
}
.header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: column row;
    background-color: rgb(179, 107, 107);
}
.header-h1 {
    text-shadow: 0px 1px 10px rgb(150, 32, 32);
    padding-left: 30px;
    padding-top: 30px;
    width: 60%;
}
.header-loguin{
    margin: auto;
    padding: 1em;
    width: 25%;
    display: flex;
    flex-flow: column wrap;
}

.contenedor-menubar {
    display:flex;
    flex-flow: column wrap;
    background-color: rgb(255, 252, 224);
    height: 110vh;
    width: 200px;
}
.menubar-link{
    display: flex;
    flex-flow: column row;
}
.menubar-link-i {
    cursor: pointer;
    font-size: 1.5em;
    padding: 40px;
    width: 15%;
    animation-name: icono;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}
.menubar-link-p {
    padding-top: 40px;
    padding-right: 20px;
}

@keyframes icono {
    0%{color: rgb(1, 107, 139);}
    20%{color: rgb(1, 45, 139);}
    40%{color: rgb(88, 1, 139);}
    60%{color: rgb(72, 1, 139);}
    80%{color: rgb(139, 1, 58);}
    100%{color: rgb(139, 1, 1);}
}

@keyframes portafolio {
    0% {
        background: rgb(245, 245, 132)
    }
    50% {


    }
    100% {
    }
}

.displaynone {
    display:none;
}

.heightcero {
    height: 0;
}
